.row:after {
	content:"";
	clear:both;
	display:block;
}

[class*="col-"] {
	float:left;
}

.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}

.flex-container-center {
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.flex-container-left {
	display:flex;
	justify-content:flex-start;
	flex-wrap:wrap;
}
.flex-container-right {
	display:flex;
	justify-content:flex-end;
	flex-wrap:wrap;
}

.contactHeader{
	background:rgb(70, 161, 219);
	color:white;
	position:fixed;
	top:0;
	left:0;
	z-index:1;
}

.contactItem{
	margin:10px 20px;
	font-size:16px;
}

.main{
	margin-top:50px;
}

.header{
	margin-top:60px;
	margin-bottom:40px;
}

.M3{
	font-size:30px;
}
.M3sub{
	font-size:20px;
}

ul {
	list-style-type: none;
    font-size:16px;
    overflow: hidden;
}
ul li {
	display:inline;
	float:left;
}
li a{
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
}
li a:hover:not(.activePage){
	background-color: grey;
    color: white;
}
.activePage{
	background-color:rgb(70, 161, 219);
    color: white;
}

.galleryMain{
	background:rgb(235, 235, 235);
}
.galleryMainInner{
	background:white;
	margin:2px 0px;
}
.galleryContainer{
	margin:0px 0px;
}

.missionContainer{
	margin:30px 0px 20px 30px;
}
.missionItem h3{
	font-size:22px;
}
.missionItem p{
	font-size:16px;
}

.worksItem{
	background:rgb(235, 235, 235);
	margin:40px 30px;
	height:150px;
	min-width:150px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
 }

 .carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.item{
	width:100%;
	height:100%;
}

.portfolioCon{
	margin-top:40px;
}
.portfolioPadding{
	padding-bottom:40px;
}
.portfolioHeader{
	margin:40px 0px;
}
.portfolioHeader > .title{
	color:rgb(70, 161, 219);
	font-size: 20px;
}
.portfolioHeader > .description{
	font-size: 16px;
	margin-left:40px;
}
.portfolioGallery{
	margin-bottom:40px;
}

.grey{
	background:rgb(235, 235, 235);
}
.white{
	background:white;
}
.img {
	margin:10px 10px;
	box-shadow:0px 0px 5px 1px grey;
	border-radius:20px;
}
.img img{
	border-radius:20px;
}

.footerNote{
	margin-top:10px;
	font-size:14px;
}